@{
    Layout = "_Layout_Activity";

    User user = ViewBag.User;

    IConfiguration configuration = ViewBag.Configuration;

    ActivityInstance activityInstance = ViewBag.ActivityInstance;

    string formInstanceHtml = ViewBag.FormInstanceHtml;

    ViewBag.Title = activityInstance.Name;
}

@section head{
    <script type="text/javascript">
        $(document).ready(function () {
            var form = $('#form').uForm();

            $.jsonPreload =
            {
                configurationForm: @Html.Raw(configuration["ConfigurationForm"]),
                Preload: 1,
                ObjectJson: {},
                Activity: @Html.Raw(ViewBag.JsonActivityInstance)
            };


            $.SaveBeforeSignOut = function () {
                if (document.getElementById('save')) {
                    setInterval(function () {
                        window.location.href = "/Account/SignOut";
                    }, 10000);
                } else {
                    window.location.href = "/Account/SignOut";
                }
            }

            $('#close').click(function () {
                var returnUrl = "@Context.Request.Query["returnUrl"]";

                if (returnUrl !== "")
                    window.location.href = returnUrl;
                else
                    close();
            });

            $(form).on('form_error', function (event, jqXHR, textStatus, errorThrown) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            });

            $(form).on('get_finished', function (event) {
                $("#divMainContainer").show();
            });

            $(form).on('loaded', function (event, init) {
                init ? init($.jsonPreload) : form.initialize($.jsonPreload);
            });

            $(form).on('validate_result', function (event, valido) {
                if (!valido)
                    $('#' + $.ActionSelected).attr('disabled', false);
            });

            // Placeholders
            var setPlaceHolder = function () {
                var inputs = document.querySelectorAll("input[type=text]");
                var index;
                for (index = 0; index < inputs.length; ++index) {
                    if (inputs[index].placeholder === '') {
                        var texto = $('#' + inputs[index].id).closest('.form-group').find('label[class=control-label]')
                            .text();
                        texto = texto.replace('*', '').replace(':', '').toLowerCase();
                        inputs[index].placeholder = 'Ingresa ' + texto;
                    }
                }
            };

            setPlaceHolder();
        });
    </script>
}

<!-- START FORM -->
@Html.Raw(formInstanceHtml)
<!-- END FORM -->

<div class="col-sm-12 " style="padding-bottom:20px;">
    <div class="actions pull-right">
        <button id="close" type="button" class="btn btn-default" title="cerrar la actividad">Cerrar</button>
    </div>
</div>

@section script{
    <script type="text/javascript" src="@configuration["WebFramework"]/undani/plugins/date.format/date.format.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.EnableActionButton = function (id) {
                
            };

        });
    </script>
}